openapi: 3.1.0
info:
  title: MixRank Data Account Play Store Rankings API
  version: '2'
  description: MixRank's REST Data API exposes the company (Enrich/Match), people, email verification, mobile app & SDK intelligence (iOS App Store and Google Play Store), app rankings, in-app purchases, app privacy labels, and web technographic datasets. Responses are JSON; the API key is passed as a path segment. This specification was generated by the API Evangelist enrichment pipeline from MixRank's published API documentation and is not an official MixRank artifact.
  contact:
    name: MixRank
    url: https://mixrank.com/api/documentation
  x-generated-by: api-evangelist-enrichment
  x-source: https://mixrank.com/api/documentation
servers:
- url: https://api.mixrank.com/v2/json/{api_key}
  description: Production. The API key is supplied as a path segment.
  variables:
    api_key:
      default: YOUR_API_KEY
      description: Your MixRank API key
tags:
- name: Play Store Rankings
paths:
  /playstore/rankings:
    get:
      operationId: listPlaystoreRankings
      summary: List available Play Store ranking lists
      tags:
      - Play Store Rankings
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /playstore/rankings/{container}/{category}/{country}:
    get:
      operationId: getPlaystoreRankings
      summary: Ranked Play Store apps for a list
      tags:
      - Play Store Rankings
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: container
        in: path
        required: true
        schema:
          type: string
        description: container identifier
      - name: category
        in: path
        required: true
        schema:
          type: string
        description: category identifier
      - name: country
        in: path
        required: true
        schema:
          type: string
        description: country identifier
components:
  responses:
    Error:
      description: Error response with an errors array and an appropriate HTTP status code
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages
externalDocs:
  description: MixRank API documentation
  url: https://mixrank.com/api/documentation
