openapi: 3.1.0
info:
  title: MixRank Data Account iOS Apps API
  version: '2'
  description: MixRank's REST Data API exposes the company (Enrich/Match), people, email verification, mobile app & SDK intelligence (iOS App Store and Google Play Store), app rankings, in-app purchases, app privacy labels, and web technographic datasets. Responses are JSON; the API key is passed as a path segment. This specification was generated by the API Evangelist enrichment pipeline from MixRank's published API documentation and is not an official MixRank artifact.
  contact:
    name: MixRank
    url: https://mixrank.com/api/documentation
  x-generated-by: api-evangelist-enrichment
  x-source: https://mixrank.com/api/documentation
servers:
- url: https://api.mixrank.com/v2/json/{api_key}
  description: Production. The API key is supplied as a path segment.
  variables:
    api_key:
      default: YOUR_API_KEY
      description: Your MixRank API key
tags:
- name: iOS Apps
paths:
  /appstore/ipa/{ipa_id}:
    get:
      operationId: getAppstoreIpa
      summary: Get IPA download details
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: ipa_id
        in: path
        required: true
        schema:
          type: string
        description: ipa_id identifier
  /appstore/apps:
    get:
      operationId: listAppstoreApps
      summary: List/search the iOS app directory
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
  /appstore/apps/{app_id}:
    get:
      operationId: getAppstoreApp
      summary: Get an iOS app summary
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/rankings:
    get:
      operationId: getAppstoreAppRankings
      summary: Current rankings for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/rankings-history:
    get:
      operationId: getAppstoreAppRankingsHistory
      summary: Ranking history for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/sdks:
    get:
      operationId: getAppstoreAppSdks
      summary: SDKs installed in an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/configs:
    get:
      operationId: getAppstoreAppConfigs
      summary: Info.plist configuration for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/versions:
    get:
      operationId: getAppstoreAppVersions
      summary: Release history for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/iaps:
    get:
      operationId: getAppstoreAppIaps
      summary: In-app purchases for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/reviews:
    get:
      operationId: getAppstoreAppReviews
      summary: User reviews for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/downloads:
    get:
      operationId: getAppstoreAppDownloads
      summary: Download trends for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/revenue:
    get:
      operationId: getAppstoreAppRevenue
      summary: Revenue trends for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
components:
  parameters:
    SortOrder:
      name: sort_order
      in: query
      required: false
      schema:
        type: string
        enum:
        - asc
        - desc
      description: Sort direction
    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
      description: Results per page (varies by endpoint, typically 1-100)
    SortField:
      name: sort_field
      in: query
      required: false
      schema:
        type: string
      description: Field to sort by
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: Number of results to skip
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages
  responses:
    Error:
      description: Error response with an errors array and an appropriate HTTP status code
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
externalDocs:
  description: MixRank API documentation
  url: https://mixrank.com/api/documentation
