openapi: 3.1.0
info:
  title: MixRank Data Account Email API
  version: '2'
  description: MixRank's REST Data API exposes the company (Enrich/Match), people, email verification, mobile app & SDK intelligence (iOS App Store and Google Play Store), app rankings, in-app purchases, app privacy labels, and web technographic datasets. Responses are JSON; the API key is passed as a path segment. This specification was generated by the API Evangelist enrichment pipeline from MixRank's published API documentation and is not an official MixRank artifact.
  contact:
    name: MixRank
    url: https://mixrank.com/api/documentation
  x-generated-by: api-evangelist-enrichment
  x-source: https://mixrank.com/api/documentation
servers:
- url: https://api.mixrank.com/v2/json/{api_key}
  description: Production. The API key is supplied as a path segment.
  variables:
    api_key:
      default: YOUR_API_KEY
      description: Your MixRank API key
tags:
- name: Email
paths:
  /email/validate:
    get:
      operationId: validateEmail
      summary: Verify whether an email address exists
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /email/validate/bulk-job/{job_id}:
    get:
      operationId: getEmailBulkJob
      summary: Check the status of a bulk email-validation job
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
        description: job_id identifier
    delete:
      operationId: deleteEmailBulkJob
      summary: Delete the output of a bulk email-validation job
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
        description: job_id identifier
  /email/validate/bulk-job:
    get:
      operationId: listEmailBulkJobs
      summary: List previous bulk email-validation jobs
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
    post:
      operationId: createEmailBulkJob
      summary: Submit a bulk email-validation job
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Segment query definition
  /email/prospect:
    get:
      operationId: prospectEmail
      summary: Generate a likely email for a person at a company
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
components:
  parameters:
    SortOrder:
      name: sort_order
      in: query
      required: false
      schema:
        type: string
        enum:
        - asc
        - desc
      description: Sort direction
    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
      description: Results per page (varies by endpoint, typically 1-100)
    SortField:
      name: sort_field
      in: query
      required: false
      schema:
        type: string
      description: Field to sort by
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: Number of results to skip
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages
  responses:
    Error:
      description: Error response with an errors array and an appropriate HTTP status code
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
externalDocs:
  description: MixRank API documentation
  url: https://mixrank.com/api/documentation
