openapi: 3.1.0
info:
  title: MixRank Data Account Play Store Apps API
  version: '2'
  description: MixRank's REST Data API exposes the company (Enrich/Match), people, email verification, mobile app & SDK intelligence (iOS App Store and Google Play Store), app rankings, in-app purchases, app privacy labels, and web technographic datasets. Responses are JSON; the API key is passed as a path segment. This specification was generated by the API Evangelist enrichment pipeline from MixRank's published API documentation and is not an official MixRank artifact.
  contact:
    name: MixRank
    url: https://mixrank.com/api/documentation
  x-generated-by: api-evangelist-enrichment
  x-source: https://mixrank.com/api/documentation
servers:
- url: https://api.mixrank.com/v2/json/{api_key}
  description: Production. The API key is supplied as a path segment.
  variables:
    api_key:
      default: YOUR_API_KEY
      description: Your MixRank API key
tags:
- name: Play Store Apps
paths:
  /playstore/apks/{package_name}/{version_id}:
    get:
      operationId: getPlaystoreApk
      summary: Get APK download details
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: package_name
        in: path
        required: true
        schema:
          type: string
        description: package_name identifier
      - name: version_id
        in: path
        required: true
        schema:
          type: string
        description: version_id identifier
  /playstore/apps:
    get:
      operationId: listPlaystoreApps
      summary: List/search the Play Store app directory
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
  /playstore/apps/{pname}:
    get:
      operationId: getPlaystoreApp
      summary: Get a Play Store app overview
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/images:
    get:
      operationId: getPlaystoreAppImages
      summary: Screenshots for a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/rankings:
    get:
      operationId: getPlaystoreAppRankings
      summary: Current rankings for a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/rankings-history:
    get:
      operationId: getPlaystoreAppRankingsHistory
      summary: Ranking history for a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/sdks:
    get:
      operationId: getPlaystoreAppSdks
      summary: SDKs installed in a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/namespaces:
    get:
      operationId: getPlaystoreAppNamespaces
      summary: Package namespaces for a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/versions:
    get:
      operationId: getPlaystoreAppVersions
      summary: Version list for a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/versions/{version_code}/apks:
    get:
      operationId: getPlaystoreAppVersionApks
      summary: APKs for a Play Store app version
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
      - name: version_code
        in: path
        required: true
        schema:
          type: string
        description: version_code identifier
components:
  parameters:
    SortOrder:
      name: sort_order
      in: query
      required: false
      schema:
        type: string
        enum:
        - asc
        - desc
      description: Sort direction
    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
      description: Results per page (varies by endpoint, typically 1-100)
    SortField:
      name: sort_field
      in: query
      required: false
      schema:
        type: string
      description: Field to sort by
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: Number of results to skip
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages
  responses:
    Error:
      description: Error response with an errors array and an appropriate HTTP status code
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
externalDocs:
  description: MixRank API documentation
  url: https://mixrank.com/api/documentation
