openapi: 3.1.0
info:
  title: MixRank Data Account People API
  version: '2'
  description: MixRank's REST Data API exposes the company (Enrich/Match), people, email verification, mobile app & SDK intelligence (iOS App Store and Google Play Store), app rankings, in-app purchases, app privacy labels, and web technographic datasets. Responses are JSON; the API key is passed as a path segment. This specification was generated by the API Evangelist enrichment pipeline from MixRank's published API documentation and is not an official MixRank artifact.
  contact:
    name: MixRank
    url: https://mixrank.com/api/documentation
  x-generated-by: api-evangelist-enrichment
  x-source: https://mixrank.com/api/documentation
servers:
- url: https://api.mixrank.com/v2/json/{api_key}
  description: Production. The API key is supplied as a path segment.
  variables:
    api_key:
      default: YOUR_API_KEY
      description: Your MixRank API key
tags:
- name: People
paths:
  /person/segment-preview:
    get:
      operationId: previewPersonSegment
      summary: Preview a person segment query with instant results
      tags:
      - People
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
    post:
      operationId: previewPersonSegmentPost
      summary: Preview a person segment query (POST body)
      tags:
      - People
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Segment query definition
  /person/segment-query:
    get:
      operationId: queryPersonSegment
      summary: Run a person segment query producing a downloadable file
      tags:
      - People
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
    post:
      operationId: queryPersonSegmentPost
      summary: Run a person segment query (POST body)
      tags:
      - People
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Segment query definition
components:
  responses:
    Error:
      description: Error response with an errors array and an appropriate HTTP status code
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages
externalDocs:
  description: MixRank API documentation
  url: https://mixrank.com/api/documentation
