# generated: '2026-07-20'
# method: generated
# source: https://mixrank.com/api/documentation
openapi: 3.1.0
info:
  title: MixRank Data API
  version: '2'
  description: MixRank's REST Data API exposes the company (Enrich/Match), people, email verification, mobile app & SDK intelligence
    (iOS App Store and Google Play Store), app rankings, in-app purchases, app privacy labels, and web technographic datasets.
    Responses are JSON; the API key is passed as a path segment. This specification was generated by the API Evangelist enrichment
    pipeline from MixRank's published API documentation and is not an official MixRank artifact.
  contact:
    name: MixRank
    url: https://mixrank.com/api/documentation
  x-generated-by: api-evangelist-enrichment
  x-source: https://mixrank.com/api/documentation
externalDocs:
  description: MixRank API documentation
  url: https://mixrank.com/api/documentation
servers:
- url: https://api.mixrank.com/v2/json/{api_key}
  description: Production. The API key is supplied as a path segment.
  variables:
    api_key:
      default: YOUR_API_KEY
      description: Your MixRank API key
tags:
- name: Account
- name: Companies
- name: People
- name: Email
- name: Audience Segments
- name: iOS Apps
- name: iOS Developers
- name: iOS App Privacy
- name: iOS Rankings
- name: iOS SDKs
- name: Play Store Apps
- name: Play Store Developers
- name: Play Store Rankings
- name: Play Store SDKs
- name: Websites
- name: Web Tags
paths:
  /echo:
    get:
      operationId: echo
      summary: Validate API key and confirm authentication
      tags:
      - Account
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /usage:
    get:
      operationId: getUsage
      summary: View API usage metrics and remaining request quota
      tags:
      - Account
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /companies:
    get:
      operationId: listCompanies
      summary: List/search the company directory
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
  /companies/{company_id}:
    get:
      operationId: getCompany
      summary: Get a company overview by id
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
        description: company_id identifier
  /companies/match:
    get:
      operationId: matchCompany
      summary: Fuzzy match a company by name, URL, or LinkedIn
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /companies/{company_id}/employee-metrics:
    get:
      operationId: getCompanyEmployeeMetrics
      summary: Headcount by employee type for a company
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
        description: company_id identifier
  /companies/{company_id}/employee-metrics/{job_tag_id}/timeseries:
    get:
      operationId: getCompanyEmployeeMetricsTimeseries
      summary: Employee-metric trends for a job tag over time
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
        description: company_id identifier
      - name: job_tag_id
        in: path
        required: true
        schema:
          type: string
        description: job_tag_id identifier
  /companies/{company_id}/timeseries:
    get:
      operationId: getCompanyTimeseries
      summary: Employee and social trends for a company over time
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
        description: company_id identifier
  /jobtags:
    get:
      operationId: listJobTags
      summary: List the job classification ontology
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
  /companies/segment-preview:
    get:
      operationId: previewCompanySegment
      summary: Preview a company segment query with instant results
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
    post:
      operationId: previewCompanySegmentPost
      summary: Preview a company segment query (POST body)
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Segment query definition
  /companies/segment-query:
    get:
      operationId: queryCompanySegment
      summary: Run a company segment query producing a downloadable file
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
    post:
      operationId: queryCompanySegmentPost
      summary: Run a company segment query (POST body)
      tags:
      - Companies
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Segment query definition
  /person/segment-preview:
    get:
      operationId: previewPersonSegment
      summary: Preview a person segment query with instant results
      tags:
      - People
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
    post:
      operationId: previewPersonSegmentPost
      summary: Preview a person segment query (POST body)
      tags:
      - People
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Segment query definition
  /person/segment-query:
    get:
      operationId: queryPersonSegment
      summary: Run a person segment query producing a downloadable file
      tags:
      - People
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
    post:
      operationId: queryPersonSegmentPost
      summary: Run a person segment query (POST body)
      tags:
      - People
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Segment query definition
  /email/validate:
    get:
      operationId: validateEmail
      summary: Verify whether an email address exists
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /email/validate/bulk-job/{job_id}:
    get:
      operationId: getEmailBulkJob
      summary: Check the status of a bulk email-validation job
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
        description: job_id identifier
    delete:
      operationId: deleteEmailBulkJob
      summary: Delete the output of a bulk email-validation job
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
        description: job_id identifier
  /email/validate/bulk-job:
    get:
      operationId: listEmailBulkJobs
      summary: List previous bulk email-validation jobs
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
    post:
      operationId: createEmailBulkJob
      summary: Submit a bulk email-validation job
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Segment query definition
  /email/prospect:
    get:
      operationId: prospectEmail
      summary: Generate a likely email for a person at a company
      tags:
      - Email
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /segment-features/{segment}:
    get:
      operationId: listSegmentFeatures
      summary: List searchable features for a segment
      tags:
      - Audience Segments
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: segment
        in: path
        required: true
        schema:
          type: string
        description: segment identifier
  /segment-result:
    get:
      operationId: getSegmentResult
      summary: Download the results of a segment query
      tags:
      - Audience Segments
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /appstore/ipa/{ipa_id}:
    get:
      operationId: getAppstoreIpa
      summary: Get IPA download details
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: ipa_id
        in: path
        required: true
        schema:
          type: string
        description: ipa_id identifier
  /appstore/apps:
    get:
      operationId: listAppstoreApps
      summary: List/search the iOS app directory
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
  /appstore/apps/{app_id}:
    get:
      operationId: getAppstoreApp
      summary: Get an iOS app summary
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/rankings:
    get:
      operationId: getAppstoreAppRankings
      summary: Current rankings for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/rankings-history:
    get:
      operationId: getAppstoreAppRankingsHistory
      summary: Ranking history for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/sdks:
    get:
      operationId: getAppstoreAppSdks
      summary: SDKs installed in an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/configs:
    get:
      operationId: getAppstoreAppConfigs
      summary: Info.plist configuration for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/versions:
    get:
      operationId: getAppstoreAppVersions
      summary: Release history for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/iaps:
    get:
      operationId: getAppstoreAppIaps
      summary: In-app purchases for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/reviews:
    get:
      operationId: getAppstoreAppReviews
      summary: User reviews for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/downloads:
    get:
      operationId: getAppstoreAppDownloads
      summary: Download trends for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/apps/{app_id}/revenue:
    get:
      operationId: getAppstoreAppRevenue
      summary: Revenue trends for an iOS app
      tags:
      - iOS Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: app_id identifier
  /appstore/developers/{developer_id}/apps:
    get:
      operationId: getAppstoreDeveloperApps
      summary: Apps published by an iOS developer
      tags:
      - iOS Developers
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: developer_id
        in: path
        required: true
        schema:
          type: string
        description: developer_id identifier
  /appstore/privacy/labels:
    get:
      operationId: listAppstorePrivacyLabels
      summary: List iOS privacy label options
      tags:
      - iOS App Privacy
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /appstore/privacy/datatype:
    get:
      operationId: listAppstorePrivacyDataTypes
      summary: iOS privacy data type dictionary
      tags:
      - iOS App Privacy
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /appstore/privacy/linkage:
    get:
      operationId: listAppstorePrivacyLinkage
      summary: iOS privacy linkage type dictionary
      tags:
      - iOS App Privacy
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /appstore/privacy/purpose:
    get:
      operationId: listAppstorePrivacyPurpose
      summary: iOS privacy collection purpose dictionary
      tags:
      - iOS App Privacy
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /appstore/rankings:
    get:
      operationId: listAppstoreRankings
      summary: List available iOS ranking lists
      tags:
      - iOS Rankings
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /appstore/rankings/{container}/{genre}/{country}:
    get:
      operationId: getAppstoreRankings
      summary: Ranked iOS apps for a list
      tags:
      - iOS Rankings
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: container
        in: path
        required: true
        schema:
          type: string
        description: container identifier
      - name: genre
        in: path
        required: true
        schema:
          type: string
        description: genre identifier
      - name: country
        in: path
        required: true
        schema:
          type: string
        description: country identifier
  /appstore/sdks:
    get:
      operationId: listAppstoreSdks
      summary: List/search the iOS SDK directory
      tags:
      - iOS SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
  /appstore/sdks/{sdk_slug}:
    get:
      operationId: getAppstoreSdk
      summary: Get iOS SDK details
      tags:
      - iOS SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /appstore/sdks/{sdk_slug}/installs:
    get:
      operationId: getAppstoreSdkInstalls
      summary: Apps currently using an iOS SDK
      tags:
      - iOS SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /appstore/sdks/{sdk_slug}/install-trend:
    get:
      operationId: getAppstoreSdkInstallTrend
      summary: Installation trend for an iOS SDK
      tags:
      - iOS SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /appstore/sdks/{sdk_slug}/uninstalls:
    get:
      operationId: getAppstoreSdkUninstalls
      summary: Uninstall counts for an iOS SDK
      tags:
      - iOS SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /appstore/sdks/{sdk_slug}/genres:
    get:
      operationId: getAppstoreSdkGenres
      summary: Genre distribution for an iOS SDK
      tags:
      - iOS SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /appstore/sdks/{sdk_slug}/versions:
    get:
      operationId: getAppstoreSdkVersions
      summary: Versions of an iOS SDK
      tags:
      - iOS SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /playstore/apks/{package_name}/{version_id}:
    get:
      operationId: getPlaystoreApk
      summary: Get APK download details
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: package_name
        in: path
        required: true
        schema:
          type: string
        description: package_name identifier
      - name: version_id
        in: path
        required: true
        schema:
          type: string
        description: version_id identifier
  /playstore/apps:
    get:
      operationId: listPlaystoreApps
      summary: List/search the Play Store app directory
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
  /playstore/apps/{pname}:
    get:
      operationId: getPlaystoreApp
      summary: Get a Play Store app overview
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/images:
    get:
      operationId: getPlaystoreAppImages
      summary: Screenshots for a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/rankings:
    get:
      operationId: getPlaystoreAppRankings
      summary: Current rankings for a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/rankings-history:
    get:
      operationId: getPlaystoreAppRankingsHistory
      summary: Ranking history for a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/sdks:
    get:
      operationId: getPlaystoreAppSdks
      summary: SDKs installed in a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/namespaces:
    get:
      operationId: getPlaystoreAppNamespaces
      summary: Package namespaces for a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/versions:
    get:
      operationId: getPlaystoreAppVersions
      summary: Version list for a Play Store app
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
  /playstore/apps/{pname}/versions/{version_code}/apks:
    get:
      operationId: getPlaystoreAppVersionApks
      summary: APKs for a Play Store app version
      tags:
      - Play Store Apps
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: pname
        in: path
        required: true
        schema:
          type: string
        description: pname identifier
      - name: version_code
        in: path
        required: true
        schema:
          type: string
        description: version_code identifier
  /playstore/developers/{developer_id}/apps:
    get:
      operationId: getPlaystoreDeveloperApps
      summary: Apps published by a Play Store developer
      tags:
      - Play Store Developers
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: developer_id
        in: path
        required: true
        schema:
          type: string
        description: developer_id identifier
  /playstore/rankings:
    get:
      operationId: listPlaystoreRankings
      summary: List available Play Store ranking lists
      tags:
      - Play Store Rankings
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
  /playstore/rankings/{container}/{category}/{country}:
    get:
      operationId: getPlaystoreRankings
      summary: Ranked Play Store apps for a list
      tags:
      - Play Store Rankings
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: container
        in: path
        required: true
        schema:
          type: string
        description: container identifier
      - name: category
        in: path
        required: true
        schema:
          type: string
        description: category identifier
      - name: country
        in: path
        required: true
        schema:
          type: string
        description: country identifier
  /playstore/sdks:
    get:
      operationId: listPlaystoreSdks
      summary: List/search the Play Store SDK directory
      tags:
      - Play Store SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
  /playstore/sdks/{sdk_slug}:
    get:
      operationId: getPlaystoreSdk
      summary: Get Play Store SDK overview
      tags:
      - Play Store SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /playstore/sdks/{sdk_slug}/installs:
    get:
      operationId: getPlaystoreSdkInstalls
      summary: App installations for a Play Store SDK
      tags:
      - Play Store SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /playstore/sdks/{sdk_slug}/install-trend:
    get:
      operationId: getPlaystoreSdkInstallTrend
      summary: Install trend for a Play Store SDK
      tags:
      - Play Store SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /playstore/sdks/{sdk_slug}/uninstalls:
    get:
      operationId: getPlaystoreSdkUninstalls
      summary: Uninstalls for a Play Store SDK
      tags:
      - Play Store SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /playstore/sdks/{sdk_slug}/categories:
    get:
      operationId: getPlaystoreSdkCategories
      summary: Category distribution for a Play Store SDK
      tags:
      - Play Store SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /playstore/sdks/{sdk_slug}/downloads:
    get:
      operationId: getPlaystoreSdkDownloads
      summary: Download data for a Play Store SDK
      tags:
      - Play Store SDKs
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: sdk_slug
        in: path
        required: true
        schema:
          type: string
        description: sdk_slug identifier
  /web/sites:
    get:
      operationId: listWebSites
      summary: List/search the website directory
      tags:
      - Websites
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
  /web/sites/{domain}:
    get:
      operationId: getWebSite
      summary: Get a website overview
      tags:
      - Websites
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
        description: domain identifier
  /web/sites/{domain}/tags:
    get:
      operationId: getWebSiteTags
      summary: Technology tags assigned to a website
      tags:
      - Websites
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
        description: domain identifier
  /web/tags:
    get:
      operationId: listWebTags
      summary: List the web technology tag directory
      tags:
      - Web Tags
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/SortOrder'
  /web/tags/{slug}:
    get:
      operationId: getWebTag
      summary: Get web technology tag details
      tags:
      - Web Tags
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: slug identifier
  /web/tags/{slug}/sites:
    get:
      operationId: getWebTagSites
      summary: Websites detected using a technology tag
      tags:
      - Web Tags
      responses:
        '200':
          description: Successful JSON response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: slug identifier
components:
  parameters:
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: Number of results to skip
    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
      description: Results per page (varies by endpoint, typically 1-100)
    SortField:
      name: sort_field
      in: query
      required: false
      schema:
        type: string
      description: Field to sort by
    SortOrder:
      name: sort_order
      in: query
      required: false
      schema:
        type: string
        enum:
        - asc
        - desc
      description: Sort direction
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages
  responses:
    Error:
      description: Error response with an errors array and an appropriate HTTP status code
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
